.promotion-bgwhite {
    .bg-head {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .bg-header {
        border-radius: 10px;
        background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
        text-align: center;
        font-weight: 700;
        width: 40%;
        color: white;
        font-size: 20px;
    }
    .promotion-item {
        overflow: hidden;
        img {
          transform: scale(1);
          transition: all linear 0.3s;
        }
        img:hover {
          transform: scale(1.08);
          transition: all linear 0.3s;
        }
    }
}